.code-implications {
	display:block;
	overflow:hidden;
	.panel {
		padding-top:0;
		display:inline-block;
		img{width:100%;height:421px;display:block;}
		h2 {
			margin:0;
			font-weight:normal;
			color:#fff;
			padding:5% 10%;
			margin:0;
			font-size:30px;
		}
		p{font-size:18px;color:#58595b;line-height:28px}
	}
}
