.tiers {
	background:#fff;
	margin:0;
	padding:0;

	.panel {
		padding-top:20%;
		border-right:1px solid #e5e5e5;
		&:last-of-type{border-right:none}
		header {
			position:absolute;
			top:0;
			left:0;
			height:42%;
			width:100%;
			background-repeat:no-repeat;
			
			h3{margin:0;color:#fff;font-size:48px;font-weight:700;text-align:center;text-transform:uppercase;padding-top:38%;}
			h2 {font-size:24px;text-transform:uppercase;line-height:30px;margin-top:10px;padding:0 15%;text-align:center;}
		}
		&.panel-0{
			header{
				background-color:#87d2dd;
				background-image:url(../img/economics-tier-3-icon.png);
				background-position: center 78px;
				h2{color:#0d94a8;}
			}
		}
		&.panel-1{
			header{
				background-color:#79c042;
				background-image:url(../img/economics-tier-2-icon.png);
				background-position: center 82px;
				h2{color:#3d8704;}
			}
		}
		&.panel-2{
			header{
				background-color:#fbb714;
				background-image:url(../img/economics-tier-1-icon.png);
				background-position: center 64px;
				
				h2{color:#a37300;}
			}
		}
		&.panel-3{
			header{
				background-color:#ec1b2e;
				background-image:url(../img/economics-tier-0-icon.png);
				background-position: center 78px;

				
				h2{color:#800813;}
			}
		}
	}

	.main-content {
		padding:30px 40px;
		ul {
			margin:20px 0;
			padding:0;
		}
		li {
			list-style:none;
			color:#58595b;
			font-size:18px;
			line-height:24px;
			margin-bottom:16px;
			padding-left:18px;
			background:url(../img/red-square.png) no-repeat 0 8px;
		}
		ol li {
			background:none;
			list-style-type:decimal;
			padding-left:0;
		}
		h4 {
			font-size:18px;
			font-weight:700;
		}
	}

}