body {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	font-family:"Proxima";
	background:#000;
}

.wrapper {
	h1 {
		height:80px;
		line-height:80px;
		color:#fff;
		font-size:30px;
		font-weight:700;
		padding-left:66px;
		width:100%;
		margin:0;
		text-transform:uppercase;
		background:#323232;
		position:absolute;top:0;left:0;width:100%;
	}
}

.section{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding-bottom: 80px;
	z-index:0;
	> .wrapper  {
		position:relative;
		width:100%;
		height:100%;
		display:block;
		padding-top:80px;
	}
}

.solutionBackground {
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	width:100%;height:100%;
	z-index:0;
	@include transition(all, .6s);
	&.childView {
		@include filter(blur(6px));
		opacity: .6;
	}

}

.panels {
	display:table;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	table-layout: fixed;
}

.panel {
	display:table-cell;
	height:100%;
	vertical-align:top;
	position:relative;
	img {
		max-width:100%;
		height:auto;
	}

	.solution-content p ul{margin-top:20px;text-align:left;padding:0 12%;}

}

.wrapper {
.panels1 {
	.panel{width:100%}
}

.panels2{
	.panel {width:50%;}
}

.panels3{
	.panel {width:33.333%;}
}

.panels4{
	.panel {width:25%;}
}

.panels5{
	.panel {width:20%;}
}

.panels6{
	.panel {width:16%;}
}
}

.pushdown{
	transition:-webkit-transform .2s;
	&:active{
		@include transform(scale(.7));
	}
}

.btn {
	padding:0 40px;
	color:#fff;
	background:#0092cf;
	font-size:18px;
	font-weight:300;
	height:60px;
	line-height:60px;
	text-align:center;
	display:inline-block;
	white-space:nowrap;
	text-transform:uppercase;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}