#solutionsWrapper{ 
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	
	#solutions {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	margin:0;
	padding:0;
	opacity:0;
	transition : opacity .6s;
	li {
		width:13%;
		height:23%;
		position:absolute;
		list-style:none;
		overflow:hidden;
	}

		@for $i from 0 through 6 {
			.box-#{$i} {
				top:1%;
				left: 1% + (14.17 * $i)
			}
		}

		.box-7{
			top:26%;
			left:1%;
		}
		.box-8{
			top:26%;
			right: 1%;
		}
		.box-9{
			top:51%;
			left:1%;
		}
		.box-10{
			top:51%;
			right:1%;
		}

		@for $i from 11 through 17 {
			.box-#{$i} {
				bottom:1%;
				left: 1% + (14.17 * ($i - 11))
			}
		}


	.link-wrapper {
		display:table;
		width:100%;
		height:100%;
		transition:-webkit-transform .2s;
		&:active{
			@include transform(scale(.5));
		}
		&.active {
			a {background: rgba(30,30, 30, 0.95);}
		}

	}
	a {
		text-transform:uppercase;
		font-size:24px;
		color:#dddddd;
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		line-height:30px;
		text-decoration:none;
		font-weight:500;
		background:rgba(50,50,50,.95);
		padding:0 8%;
		transition:background .6s;
	}
}

.slider {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
	opacity:0;
	transition: opacity .6s;
	.slide {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		opacity:0;
        z-index:1;
        transition:opacity 1.5s;
        background-position : center center;
        background-size:cover;
		background-color:transparent;
		&.show {
			opacity:1;
		}

	}

}


.solutionsContent {
	
	display:table;
	width:100%;
	height:100%;
	position:relative;
	z-index:1;
	transition: opacity 1s;
	opacity:0;
	.inner {
		display:table-cell;
		text-align:center;
		vertical-align:middle;

		strong {
			color:$red;
			font-weight:normal;
			margin-top:1%;
			display:block;
			font-size:24px;
			text-transform:uppercase;
		}

	}

}

&.enter {
	.solutionsContent {
		opacity:1;
	}
}

&.init {
	.slider {
		opacity:.3;
	}
	#solutions {
		opacity:1;
	}
}

&.idle {
	.slider {
		opacity: .7;
	}

	#solutions {
		opacity:.3;
	}
}

}