.modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 70%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;


  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;

	img {
		max-width:100%;
		margin-bottom:5%;
	}

	h3 {
		font-weight:500;
		font-size:36px;
		margin:0;
		margin:3% 0 2%;
	}

	p {
		margin:0 0 2%;
		font-size:18px;
		line-height:18px;
		padding:0 20%;
	}
}

.showModal .modal-dialog{

}

.modal-dialog-content {
  padding:2%;
  text-align: center;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  display: inline-block;
  font-weight: 300;
  background:#323232;
  color:#fff;
}