#solutionNav {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:80px;
	background:#323232;
	z-index:2;

	h2 {
		width:21%;
		text-transform:uppercase;
		display:table-cell;
		height:100%;
		vertical-align:middle;
		font-size:24px;
		color:#fff;
		text-align:center;
		width:22%;
		background:#ec1b2e;
		@include transition(box-shadow, .3s);
		box-shadow:0px 0px 0px rgba(0,0,0,0);
		&.open {
			box-shadow:-11px -1px 27px 1px rgba(0,0,0,.8)
		}

	}

	.solution-menu {
		display:table-cell;
		width:88%;
		height:100%;
		margin:0;
		padding:0;
		li {
			display:table;
			float:left;
			height:100%;
			width:16.67%;
			border-right:1px solid #7c7c7c;
			&:last-of-type{border-right:none}
			&.active {
				a{
					background-color:#231f20;
					color:#fff;
				}	
			}

		}
		a {
			font-size:20px;
			font-weight:300;
			color:#7c7c7c;
			padding:0 25px 0 75px;
			vertical-align:middle;
			text-decoration:none;
			display:table-cell;
			width:100%;
			background-repeat: no-repeat;
			background-position:30px center;
			@include transition (all, .3s);
		}

		.nav-economics a{background-image:url(../img/nav-economics.png);}
		.nav-network a{background-image:url(../img/nav-network.png);}
		.nav-tech a{background-image:url(../img/nav-tech.png);}
		.nav-code a{background-image:url(../img/nav-code.png);}
		.nav-project a{background-image:url(../img/nav-project.png);}
		.nav-product a{background-image:url(../img/nav-product.png);}
		
	}

}

.solution-list-wrapper {
	position:absolute;
	@include transition (top, .3s);
	top:100%;
	height:100%;
	width:22%;
	z-index:1;
	padding-bottom:80px;
	&.show{
		top:0%;
	}

	.inner{
		position:relative;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:#323232;
	}

}

#solutionsList{
	
	z-index:1;
	margin:0;
	padding:0;
	
	li {
		list-style:none;
		border-bottom:1px solid #7c7c7c;

		

	}
	a{
		color:#7c7c7c;
		font-size:24px;
		min-height:80px;
		padding:20px 60px;
		text-decoration:none;
		background:#323232;
		display:block;
		width:100%;
	}
}

.nav-wrapper {
	display:table;
	width:100%;
	height:100%;
}