.network-solutions {
	li {
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	}

	.solution-content {
		width:100%;
		left:0;
		top:0;
		height:100%;
		padding:0 8%;
		color:#fff;
		text-align:center;
		position:absolute;
		background-repeat:no-repeat;
		overflow:hidden;
		background-color:rgba(0,0,0,.8);
		h2{ 
			font-weight:700;
			font-size:48px;
			margin:0;
			padding-top:30%;
			text-transform:uppercase;
			line-height:50px;
		}

		.semi-border{
			width:30%;
			margin:3% auto;
			height:3px;
			display:block;
			background:rgba(255,255,255,.5);
		}

		p,li {font-size:18px;line-height:26px;}
		ul{margin:0;padding:0;}
		li{margin-bottom:16px;}

	}
	.panel-0{border-right:1px solid #fff}
	.panel-0 .solution-content{
		background-position:center 14%;
		background-image:url(../img/networksolutions-solution-0-icon.png);
	}

	.panel-1 .solution-content{
		background-position:center 11%;
		background-image:url(../img/networksolutions-solution-1-icon.png);
	}

}

.panels1 .solution-content h2{padding-top:16%}
.panels1 .solution-content p {padding:0 25%}

.videoWrapper{ 
	position:fixed;width:100%;height:100%;top:0;left:0;z-index:0;padding:80px 0;
	.btn {
		position:absolute;top:100px;left:20px;
	}

	video {
		background:#000;
		display:table;width:100%;height:100%;
	}

}