
.galleryWrapper{
	position:relative;
	width:100%;
	height:100%;
	top:0;
	left:0;

	.galleryMainWrapper {
		padding:0;
		position:absolute;
		left:0;
		width:80%;
		height:100%;
	}

	.galleryMain {

		padding:0;
		position:absolute;
		left:0;
		width:100%;
		height:100%;
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
		z-index:100;
		transition : opacity 1.2s !important;
		-webkit-transition-delay:.4s !important;
		opacity:0;
		&.active {
			opacity:1;
			z-index:1000;
			transition: opacity .8s !important;
		}

		.description {
			@include transition(all, .6s);

			position:absolute;
			bottom:0;
			left:0;
			padding:8% 5% 2% 5%;
			color:#fff;
			
			width:100%;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
			h2 {
				font-size:36px;
				margin:0 0 2%;
				font-weight:700;
				text-transform:uppercase;
			}
			p {
				margin:0;
				font-size:18px;
			line-height:28px;
			}

			&.hide {
				opacity:0;
				bottom:-100px;
			}

		}
	}

	.galleryList {
		position:absolute;
		right:0;
		width:20%;
		height:100%;
		background:#000;
		z-index:100;
		ul{ 
			padding:0;
			margin:0;
			border-left:2px solid #333;
		}

		li {
			list-style:none;
			border-bottom:2px solid #333;
			position:relative;
			padding-top:61%;
			background-position:center center;
			background-size:cover;
			background-repeat:no-repeat;
			@include transition(all, .3s);
			border-left:0px red solid;
			@include filter(grayscale(100%));

			&.active {
				@include filter(grayscale(30%));
				border-left:3px red solid;
			}

		}

}

}

#productPortfolioWrapper {
	.galleryMain {
		background-color:#fff;
		background-size:80%;
	}
}