.technical-information {
	white-space:nowrap;
	-webkit-transition: -webkit-transform .6s;
	.product-content{
		width:90%;
		margin-left:5%;
		margin-top:40%;
		height:80%;
		padding:0 8%;
		color:#fff;
		text-align:center;
		background-repeat:no-repeat;
		overflow:hidden;

		h2{ 
			font-weight:500;
			font-size:20px;
			margin:0;
			padding:12% 5% 0;
			white-space:normal;

		}

		.img-wrapper{background:#fff;padding:12% 5%;}

		p {font-size:14px;line-height:24px;padding:0 5%;}

	}

	.panel {
		display:inline-block;
		width:410px;
	}

	&.panels1 {
		.product-content {
			width:46%;
			margin-left:27%;
			margin-top:2%;
		}
	}

	&.panels2 {
		.product-content {
			width:70%;
			margin-left:15%;
			margin-top:7%;
		}
	}

	&.panels3 {
		.product-content {
			margin-top:22%;
		}
	}

	

}

#technicalInformationWrapper{

	.btn {
		background:#231f20;
		&:active {
			background:#7c7c7c;
		}
	}

	.btn-prev{
		position:absolute;
		top:50%;
		left:0;
		box-shadow:4px 0px 13px 0px rgba(0,0,0,.7);
		-webkit-transform-origin: 0% 50%;

		&:active{
			-webkit-transform: translateX(-10px);
		}

	}

	.btn-next {
		position:absolute;
		top:50%;
		right:0;
		box-shadow:-4px 0px 13px 0px rgba(0,0,0,.7);
		-webkit-transform-origin: 100% 50%;
		&:active{
			-webkit-transform: translateX(10px);
		}
	}
}