﻿<div class="wrapper" ng-class="{'view-enter' : entered}" id="codeImplicationsWrapper">

    <h1>Code Implications</h1>
    <ul class="tiers code-implications transition-fade panels group panels{{content.code.length}}">
        <li ng-repeat="code in content.code track by $id(code)" class="panel panel-{{$index}}" ng-iscroll ng-iscroll-delay='2000'>
            <div class="tier-content">
                <img ng-src="{{$parent.image(code.image._src)}}" />
                <h2 style="background-color:{{code._bgcolor}}">{{code._name}}</h2>
                <section class="main-content">
                    <p ng-bind-html="asHtml(code.intro)"></p>
                </section>
            </div>
        </li>
    </ul>

</div>