﻿<div class="wrapper" ng-class="{'view-enter' : entered}" id="economicsWrapper">
    <h1>Advantages</h1>
    <ul class="tiers panels transition-fade group panels{{content.tier.length}}">
        <li ng-repeat="tier in content.tier track by $id(tier)" class="panel panel-{{$index}}">
            <div class="tier-content">
                <header>
                    <!--<strong>{{tier.header.title1}}</strong>-->
                    <h3>{{tier.header.title2}}</h3>
                    <!--<h4>{{tier.header.title3}}</h4>-->
                    <h2>{{tier.header.title3}}</h2>
                </header>
                
                <section class="main-content">
                    <h4>{{tier._name}}</h4>
                    <div ng-bind-html="asHtml(tier.content)"></div>
                    <!--<ul>
                        <li ng-repeat="bullet in tier.content.list.bullet track by $index">{{bullet}}</li>
                    </ul>-->
                    <!--<img ng-src="{{$parent.image(tier.content.image._src)}}" />-->
                </section>
            </div>
        </li>
    </ul>
</div>