﻿<div class="wrapper" ng-class="{'view-enter' : entered}" id="networkSolutionsWrapper">
    <h1>Network Solutions</h1>
    <ul class="network-solutions panels group transition-fade panels{{content.solution.length}}">
        <li ng-repeat="solution in content.solution track by $id(solution)" class="panel panel-{{$index}}" style="background-image: url({{image(solution._bgimage); }});">
            <div ng-click="toggleModal(solution)" class="solution-content pushdown">
                <h2>{{solution._name}}</h2>
                <span class="semi-border"></span>
                <p ng-bind-html="asHtml(solution.intro)"></p>
            </span>
        </li>
    </ul>
    <modal show='showModal' ng-class="{'showModal' : showModal}">
      <h3>{{selectedSolution._name}}</h3>
      <p ng-bind-html="asHtml(solution.intro)"></p>
      <img src="{{image(selectedSolution.image._src)}}" />
        <a class="btn" id="playVideo" ng-click="playVideo()" ng-show="selectedSolution.media != null">Play Video</a>
      </div>
    </modal>
    <div ng-if="selectedSolution != null && selectedSolution.media != null" ng-show="showVideo" class="videoWrapper">
        <a class="btn btn-back" ng-click="hideVideo()">Back</a>
        <video ng-src="{{image(selectedSolution.media._src)}}" id="nsVideo">
        </video>
    </div>
</div>