﻿<div class="wrapper" ng-class="{enter : isEnter, init : isInit }" id="solutionsWrapper">
    <div class="solutionsContent">
        <div class="inner">
            <img src="/img/logo.png" />
            <strong>Welcome to Lightfair 2014</strong>
        </div>
    </div>
    <ul id="solutions">
        <li ng-repeat="solution in solutions" class="box-{{$index}}">
            <div id="lnk_{{solution.slug}}" class="link-wrapper">
                <a ui-sref="solution({ solution: solution.slug })">{{solution._name}}</a>
            </div>
        </li>
    </ul>
    <slider solutions="solutions" />
</div>