﻿<div class="solution-list-wrapper" ng-class="{show : showSolutionNav}">
    <div class="inner" id="navScrollWrapper" ng-iscroll>
        <ul id="solutionsList">
            <li><a ng-click="go('solutions')">Back To Index</a></li>
            <li ui-sref-active="active" ng-repeat="solution in solutions">
                <a ng-click="go('solution', solution.slug)">{{solution._name}}</a>
            </li>
        </ul>
    </div>
</div>
<nav id="solutionNav">
    <div class="nav-wrapper">
        <h2 ng-class="{open : showSolutionNav}" ng-click="toggleSolutionNav()">{{currentSolution._name}}</h2>
        <ul class="solution-menu">
            <li class="nav-economics" ui-sref-active="active"><a ui-sref="solution.economics">Advantages</a></li>
            <li class="nav-network" ui-sref-active="active"><a ui-sref="solution.network-solutions">Network Solutions</a></li>
            <li class="nav-tech" ui-sref-active="active"><a ui-sref="solution.technical-information">Technical Information</a></li>
            <li class="nav-code" ui-sref-active="active"><a ui-sref="solution.code-implications">Code Implications</a></li>
            <li class="nav-project" ui-sref-active="active"><a ui-sref="solution.project-portfolio">Project Portfolio</a></li>
            <li class="nav-product" ui-sref-active="active"><a ui-sref="solution.product-portfolio">Product Portfolio</a></li>
        </ul>
    </div>
</nav>
<div class="solutionBackground" ng-class="{childView : childView}" style="background-image:url('{{currentSolution._background}}');"></div>

    <div ui-view class="section"></div>

