﻿<div class="wrapper" ng-class="{'view-enter' : entered}" id="technicalInformationWrapper">
    <h1>Technical Information</h1>
    <techdocs documents="content.product" maxview="5" class="transition-slide" />
</div>