﻿
<div class="galleryWrapper">
    <div class="galleryMainWrapper">
        <div class="galleryMain" ng-repeat="item in items track by $id(item)" ng-click="toggleDescription()" ng-class="{'active' : item.visible}" style="background-image:url({{image(item._image)}});">
            <div class="description" ng-class="{'hide' : !showDescription}">
                <h2>{{item._name}}</h2>
                <p ng-bind-html="asHtml(item.description)"></p>
            </div>
        </div>
    </div>
    
    <div class="galleryList">
        <ul>
            <li ng-click="changeItem($index)" ng-class="{'active' : item.visible}" ng-repeat="item in items track by $id(item)" 
                style="background-image:url({{image(item._image)}});" >
            </li>
        </ul>
    </div>
    &nbsp;
</div>
