﻿<div class='modal' ng-show='show'>
  <div class='modal-overlay' ng-click='hide()'></div>
  <div class='modal-dialog' ng-style='dialogStyle'>
    <div class='modal-close' ng-click='hide()'>X</div>
    <div class='modal-dialog-content' ng-transclude></div>
  </div>
</div>