﻿<div>
<ul class="technical-information panels group" ng-class="docs.length > 0 ? 'panels'+docs.length : ''" ng-swipe-left="next()" ng-swipe-right="prev()" style="-webkit-transform:translateX({{currentX}});">
    <li ng-repeat="doc in docs" class="pushdown panel panel-{{$index}}" ng-click="openDocument(doc._document)">
        <div class="product-content">
            <div class="img-wrapper">
                <img ng-src="{{$parent.image(doc._thumbnail)}}" />
            </div>
            <h2>{{doc._name}}</h2>
            <p>{{doc.intro}}</p>
        </div>
    </li>
</ul>
<div ng-show="docs.length > maxview + 1">
    <span ng-click="prev()" class="btn btn-prev pushdown"><</span>
    <span ng-click="next()" class="btn btn-next pushdown">></span>
</div>
</div>