/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* Filter */
/* TRIPLE BORDERS */
/* normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floats*/
.group:after, .zone:after, .widget-control:after, .has-left-nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 26, 2012 */
@font-face {
  font-family: 'Proxima';
  src: url("fonts/proximanovasemibold-webfont.eot");
  src: url("fonts/proximanovasemibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanovasemibold-webfont.woff") format("woff"), url("fonts/proximanovasemibold-webfont.ttf") format("truetype"), url("fonts/proximanovasemibold-webfont.svg#ProximaNovaSemiboldDemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima';
  src: url("fonts/proximanovalight-webfont.eot");
  src: url("fonts/proximanovalight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanovalight-webfont.woff") format("woff"), url("fonts/proximanovalight-webfont.ttf") format("truetype"), url("fonts/proximanovalight-webfont.svg#ProximaNovaLight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima';
  src: url("fonts/proximanovablack-webfont.eot");
  src: url("fonts/proximanovablack-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanovablack-webfont.woff") format("woff"), url("fonts/proximanovablack-webfont.ttf") format("truetype"), url("fonts/proximanovablack-webfont.svg#proxima_nova_blackheavy") format("svg");
  font-weight: 700;
  font-style: normal; }

[ui-view] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  transition-delay: .3s; }

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }

.modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 70%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000; }
  .modal-dialog img {
    max-width: 100%;
    margin-bottom: 5%; }
  .modal-dialog h3 {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    margin: 3% 0 2%; }
  .modal-dialog p {
    margin: 0 0 2%;
    font-size: 18px;
    line-height: 18px;
    padding: 0 20%; }

.modal-dialog-content {
  padding: 2%;
  text-align: center; }

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  display: inline-block;
  font-weight: 300;
  background: #323232;
  color: #fff; }

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Proxima";
  background: #000; }

.wrapper h1 {
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding-left: 66px;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  background: #323232;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  z-index: 0; }
  .section > .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 80px; }

.solutionBackground {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }
  .solutionBackground.childView {
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -webkit-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    opacity: .6; }

.panels {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed; }

.panel {
  display: table-cell;
  height: 100%;
  vertical-align: top;
  position: relative; }
  .panel img {
    max-width: 100%;
    height: auto; }
  .panel .solution-content p ul {
    margin-top: 20px;
    text-align: left;
    padding: 0 12%; }

.wrapper .panels1 .panel {
  width: 100%; }
.wrapper .panels2 .panel {
  width: 50%; }
.wrapper .panels3 .panel {
  width: 33.333%; }
.wrapper .panels4 .panel {
  width: 25%; }
.wrapper .panels5 .panel {
  width: 20%; }
.wrapper .panels6 .panel {
  width: 16%; }

.pushdown {
  transition: -webkit-transform .2s; }
  .pushdown:active {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7); }

.btn {
  padding: 0 40px;
  color: #fff;
  background: #0092cf;
  font-size: 18px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase; }

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#solutionNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #323232;
  z-index: 2; }
  #solutionNav h2 {
    width: 21%;
    text-transform: uppercase;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-size: 24px;
    color: #fff;
    text-align: center;
    width: 22%;
    background: #ec1b2e;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); }
    #solutionNav h2.open {
      box-shadow: -11px -1px 27px 1px rgba(0, 0, 0, 0.8); }
  #solutionNav .solution-menu {
    display: table-cell;
    width: 88%;
    height: 100%;
    margin: 0;
    padding: 0; }
    #solutionNav .solution-menu li {
      display: table;
      float: left;
      height: 100%;
      width: 16.67%;
      border-right: 1px solid #7c7c7c; }
      #solutionNav .solution-menu li:last-of-type {
        border-right: none; }
      #solutionNav .solution-menu li.active a {
        background-color: #231f20;
        color: #fff; }
    #solutionNav .solution-menu a {
      font-size: 20px;
      font-weight: 300;
      color: #7c7c7c;
      padding: 0 25px 0 75px;
      vertical-align: middle;
      text-decoration: none;
      display: table-cell;
      width: 100%;
      background-repeat: no-repeat;
      background-position: 30px center;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    #solutionNav .solution-menu .nav-economics a {
      background-image: url(../img/nav-economics.png); }
    #solutionNav .solution-menu .nav-network a {
      background-image: url(../img/nav-network.png); }
    #solutionNav .solution-menu .nav-tech a {
      background-image: url(../img/nav-tech.png); }
    #solutionNav .solution-menu .nav-code a {
      background-image: url(../img/nav-code.png); }
    #solutionNav .solution-menu .nav-project a {
      background-image: url(../img/nav-project.png); }
    #solutionNav .solution-menu .nav-product a {
      background-image: url(../img/nav-product.png); }

.solution-list-wrapper {
  position: absolute;
  -moz-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  top: 100%;
  height: 100%;
  width: 22%;
  z-index: 1;
  padding-bottom: 80px; }
  .solution-list-wrapper.show {
    top: 0%; }
  .solution-list-wrapper .inner {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #323232; }

#solutionsList {
  z-index: 1;
  margin: 0;
  padding: 0; }
  #solutionsList li {
    list-style: none;
    border-bottom: 1px solid #7c7c7c; }
  #solutionsList a {
    color: #7c7c7c;
    font-size: 24px;
    min-height: 80px;
    padding: 20px 60px;
    text-decoration: none;
    background: #323232;
    display: block;
    width: 100%; }

.nav-wrapper {
  display: table;
  width: 100%;
  height: 100%; }

#solutionsWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #solutionsWrapper #solutions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity .6s; }
    #solutionsWrapper #solutions li {
      width: 13%;
      height: 23%;
      position: absolute;
      list-style: none;
      overflow: hidden; }
    #solutionsWrapper #solutions .box-0 {
      top: 1%;
      left: 1%; }
    #solutionsWrapper #solutions .box-1 {
      top: 1%;
      left: 15.17%; }
    #solutionsWrapper #solutions .box-2 {
      top: 1%;
      left: 29.34%; }
    #solutionsWrapper #solutions .box-3 {
      top: 1%;
      left: 43.51%; }
    #solutionsWrapper #solutions .box-4 {
      top: 1%;
      left: 57.68%; }
    #solutionsWrapper #solutions .box-5 {
      top: 1%;
      left: 71.85%; }
    #solutionsWrapper #solutions .box-6 {
      top: 1%;
      left: 86.02%; }
    #solutionsWrapper #solutions .box-7 {
      top: 26%;
      left: 1%; }
    #solutionsWrapper #solutions .box-8 {
      top: 26%;
      right: 1%; }
    #solutionsWrapper #solutions .box-9 {
      top: 51%;
      left: 1%; }
    #solutionsWrapper #solutions .box-10 {
      top: 51%;
      right: 1%; }
    #solutionsWrapper #solutions .box-11 {
      bottom: 1%;
      left: 1%; }
    #solutionsWrapper #solutions .box-12 {
      bottom: 1%;
      left: 15.17%; }
    #solutionsWrapper #solutions .box-13 {
      bottom: 1%;
      left: 29.34%; }
    #solutionsWrapper #solutions .box-14 {
      bottom: 1%;
      left: 43.51%; }
    #solutionsWrapper #solutions .box-15 {
      bottom: 1%;
      left: 57.68%; }
    #solutionsWrapper #solutions .box-16 {
      bottom: 1%;
      left: 71.85%; }
    #solutionsWrapper #solutions .box-17 {
      bottom: 1%;
      left: 86.02%; }
    #solutionsWrapper #solutions .link-wrapper {
      display: table;
      width: 100%;
      height: 100%;
      transition: -webkit-transform .2s; }
      #solutionsWrapper #solutions .link-wrapper:active {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5); }
      #solutionsWrapper #solutions .link-wrapper.active a {
        background: rgba(30, 30, 30, 0.95); }
    #solutionsWrapper #solutions a {
      text-transform: uppercase;
      font-size: 24px;
      color: #dddddd;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      line-height: 30px;
      text-decoration: none;
      font-weight: 500;
      background: rgba(50, 50, 50, 0.95);
      padding: 0 8%;
      transition: background .6s; }
  #solutionsWrapper .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity .6s; }
    #solutionsWrapper .slider .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 1;
      transition: opacity 1.5s;
      background-position: center center;
      background-size: cover;
      background-color: transparent; }
      #solutionsWrapper .slider .slide.show {
        opacity: 1; }
  #solutionsWrapper .solutionsContent {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    transition: opacity 1s;
    opacity: 0; }
    #solutionsWrapper .solutionsContent .inner {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      #solutionsWrapper .solutionsContent .inner strong {
        color: #ec1b2e;
        font-weight: normal;
        margin-top: 1%;
        display: block;
        font-size: 24px;
        text-transform: uppercase; }
  #solutionsWrapper.enter .solutionsContent {
    opacity: 1; }
  #solutionsWrapper.init .slider {
    opacity: .3; }
  #solutionsWrapper.init #solutions {
    opacity: 1; }
  #solutionsWrapper.idle .slider {
    opacity: .7; }
  #solutionsWrapper.idle #solutions {
    opacity: .3; }

.tiers {
  background: #fff;
  margin: 0;
  padding: 0; }
  .tiers .panel {
    padding-top: 20%;
    border-right: 1px solid #e5e5e5; }
    .tiers .panel:last-of-type {
      border-right: none; }
    .tiers .panel header {
      position: absolute;
      top: 0;
      left: 0;
      height: 42%;
      width: 100%;
      background-repeat: no-repeat; }
      .tiers .panel header h3 {
        margin: 0;
        color: #fff;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding-top: 38%; }
      .tiers .panel header h2 {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 30px;
        margin-top: 10px;
        padding: 0 15%;
        text-align: center; }
    .tiers .panel.panel-0 header {
      background-color: #87d2dd;
      background-image: url(../img/economics-tier-3-icon.png);
      background-position: center 78px; }
      .tiers .panel.panel-0 header h2 {
        color: #0d94a8; }
    .tiers .panel.panel-1 header {
      background-color: #79c042;
      background-image: url(../img/economics-tier-2-icon.png);
      background-position: center 82px; }
      .tiers .panel.panel-1 header h2 {
        color: #3d8704; }
    .tiers .panel.panel-2 header {
      background-color: #fbb714;
      background-image: url(../img/economics-tier-1-icon.png);
      background-position: center 64px; }
      .tiers .panel.panel-2 header h2 {
        color: #a37300; }
    .tiers .panel.panel-3 header {
      background-color: #ec1b2e;
      background-image: url(../img/economics-tier-0-icon.png);
      background-position: center 78px; }
      .tiers .panel.panel-3 header h2 {
        color: #800813; }
  .tiers .main-content {
    padding: 30px 40px; }
    .tiers .main-content ul {
      margin: 20px 0;
      padding: 0; }
    .tiers .main-content li {
      list-style: none;
      color: #58595b;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 16px;
      padding-left: 18px;
      background: url(../img/red-square.png) no-repeat 0 8px; }
    .tiers .main-content ol li {
      background: none;
      list-style-type: decimal;
      padding-left: 0; }
    .tiers .main-content h4 {
      font-size: 18px;
      font-weight: 700; }

.network-solutions li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
.network-solutions .solution-content {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0 8%;
  color: #fff;
  text-align: center;
  position: absolute;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8); }
  .network-solutions .solution-content h2 {
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    padding-top: 30%;
    text-transform: uppercase;
    line-height: 50px; }
  .network-solutions .solution-content .semi-border {
    width: 30%;
    margin: 3% auto;
    height: 3px;
    display: block;
    background: rgba(255, 255, 255, 0.5); }
  .network-solutions .solution-content p, .network-solutions .solution-content li {
    font-size: 18px;
    line-height: 26px; }
  .network-solutions .solution-content ul {
    margin: 0;
    padding: 0; }
  .network-solutions .solution-content li {
    margin-bottom: 16px; }
.network-solutions .panel-0 {
  border-right: 1px solid #fff; }
.network-solutions .panel-0 .solution-content {
  background-position: center 14%;
  background-image: url(../img/networksolutions-solution-0-icon.png); }
.network-solutions .panel-1 .solution-content {
  background-position: center 11%;
  background-image: url(../img/networksolutions-solution-1-icon.png); }

.panels1 .solution-content h2 {
  padding-top: 16%; }

.panels1 .solution-content p {
  padding: 0 25%; }

.videoWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 80px 0; }
  .videoWrapper .btn {
    position: absolute;
    top: 100px;
    left: 20px; }
  .videoWrapper video {
    background: #000;
    display: table;
    width: 100%;
    height: 100%; }

.technical-information {
  white-space: nowrap;
  -webkit-transition: -webkit-transform .6s; }
  .technical-information .product-content {
    width: 90%;
    margin-left: 5%;
    margin-top: 40%;
    height: 80%;
    padding: 0 8%;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    overflow: hidden; }
    .technical-information .product-content h2 {
      font-weight: 500;
      font-size: 20px;
      margin: 0;
      padding: 12% 5% 0;
      white-space: normal; }
    .technical-information .product-content .img-wrapper {
      background: #fff;
      padding: 12% 5%; }
    .technical-information .product-content p {
      font-size: 14px;
      line-height: 24px;
      padding: 0 5%; }
  .technical-information .panel {
    display: inline-block;
    width: 410px; }
  .technical-information.panels1 .product-content {
    width: 46%;
    margin-left: 27%;
    margin-top: 2%; }
  .technical-information.panels2 .product-content {
    width: 70%;
    margin-left: 15%;
    margin-top: 7%; }
  .technical-information.panels3 .product-content {
    margin-top: 22%; }

#technicalInformationWrapper .btn {
  background: #231f20; }
  #technicalInformationWrapper .btn:active {
    background: #7c7c7c; }
#technicalInformationWrapper .btn-prev {
  position: absolute;
  top: 50%;
  left: 0;
  box-shadow: 4px 0px 13px 0px rgba(0, 0, 0, 0.7);
  -webkit-transform-origin: 0% 50%; }
  #technicalInformationWrapper .btn-prev:active {
    -webkit-transform: translateX(-10px); }
#technicalInformationWrapper .btn-next {
  position: absolute;
  top: 50%;
  right: 0;
  box-shadow: -4px 0px 13px 0px rgba(0, 0, 0, 0.7);
  -webkit-transform-origin: 100% 50%; }
  #technicalInformationWrapper .btn-next:active {
    -webkit-transform: translateX(10px); }

.code-implications {
  display: block;
  overflow: hidden; }
  .code-implications .panel {
    padding-top: 0;
    display: inline-block; }
    .code-implications .panel img {
      width: 100%;
      height: 421px;
      display: block; }
    .code-implications .panel h2 {
      margin: 0;
      font-weight: normal;
      color: #fff;
      padding: 5% 10%;
      margin: 0;
      font-size: 30px; }
    .code-implications .panel p {
      font-size: 18px;
      color: #58595b;
      line-height: 28px; }

.galleryWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .galleryWrapper .galleryMainWrapper {
    padding: 0;
    position: absolute;
    left: 0;
    width: 80%;
    height: 100%; }
  .galleryWrapper .galleryMain {
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    transition: opacity 1.2s !important;
    -webkit-transition-delay: .4s !important;
    opacity: 0; }
    .galleryWrapper .galleryMain.active {
      opacity: 1;
      z-index: 1000;
      transition: opacity .8s !important; }
    .galleryWrapper .galleryMain .description {
      -moz-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      -webkit-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 8% 5% 2% 5%;
      color: #fff;
      width: 100%;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, black));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%);
      /* W3C */ }
      .galleryWrapper .galleryMain .description h2 {
        font-size: 36px;
        margin: 0 0 2%;
        font-weight: 700;
        text-transform: uppercase; }
      .galleryWrapper .galleryMain .description p {
        margin: 0;
        font-size: 18px;
        line-height: 28px; }
      .galleryWrapper .galleryMain .description.hide {
        opacity: 0;
        bottom: -100px; }
  .galleryWrapper .galleryList {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    background: #000;
    z-index: 100; }
    .galleryWrapper .galleryList ul {
      padding: 0;
      margin: 0;
      border-left: 2px solid #333; }
    .galleryWrapper .galleryList li {
      list-style: none;
      border-bottom: 2px solid #333;
      position: relative;
      padding-top: 61%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-left: 0px red solid;
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      filter: grayscale(100%); }
      .galleryWrapper .galleryList li.active {
        -moz-filter: grayscale(30%);
        -o-filter: grayscale(30%);
        -webkit-filter: grayscale(30%);
        -ms-filter: grayscale(30%);
        filter: grayscale(30%);
        border-left: 3px red solid; }

#productPortfolioWrapper .galleryMain {
  background-color: #fff;
  background-size: 80%; }

